.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
text {
  font-family: Good Unicorn;
}
svg {
  width: 100%;
}
.mr-grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto) repeat(9, 2.9vw);
  -moz-column-gap: 10px;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
}
@media (min-width: 1200px) {
  .mr-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto) repeat(9, 2.1vw);
    -moz-column-gap: 13px;
    grid-column-gap: 13px;
    column-gap: 13px;
    grid-row-gap: 13px;
    row-gap: 13px;
  }
}
@media (max-width: 767px) {
  .mr-grid {
    justify-content: center;
    grid-template-rows: repeat(39, 3.8vw) repeat(12, auto) repeat(77, 3.8vw);
    grid-template-columns: repeat(22, 1fr);
    -moz-column-gap: unset;
    grid-column-gap: unset;
    column-gap: unset;
    grid-row-gap: unset;
    row-gap: unset;
    margin: auto;
  }
  .mr-cards-2 {
    display: none;
  }
}

.mr-title {
  grid-column: 1/9;
  grid-row: 1/2;
}
.mr-subtitle {
  display: flex;
  justify-content: space-between;
  grid-column: 1/9;
  grid-row: 2/3;
}
.mr-subtitle a {
  width: 14%;
}
.mr-subtitle img,
.mr-subtitle picture {
  width: 140%;
}
@media (max-width: 768px) {
  .mr-subtitle a {
    width: 20%;
  }
}
.mr-description {
  grid-column: 1/13;
  grid-row: 1/4;
  color: #6c6c80;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: 400;
  width: 100%;
}
.mr-trailer {
  grid-column: 9/13;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mr-trailer-frame {
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  height: 100%;
  justify-content: center;
  position: relative;
}
.mr-trailer-frame iframe {
  width: 100%;
  height: 101%;
}
.mr-trailer-frame video {
  position: absolute;
  bottom: 0;
}
.aspect-ratio-box {
  overflow: hidden;
  height: 0;
  position: relative;
}
.mr-cards {
  grid-column: 1/4;
  grid-row: 4/8;
  border-radius: 7px;
  overflow: hidden;
}
.mr-cards img,
.mr-cards picture {
  width: 100%;
  margin-top: -10px;
}
.mr-cards-2 {
  grid-column: 9/13;
  grid-row: 4/8;
  border-radius: 7px;
  overflow: hidden;
}
.mr-cards-2 img,
.mr-cards-2 picture {
  width: 100%;
  margin-top: -20px;
}
.mr-cereal {
  background: #fee090;
  border-radius: 7px;
  grid-column: 4/6;
  grid-row: 4/6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-cereal img,
.mr-cereal video {
  display: block;
  width: 100%;
}
.mr-gift {
  background: #ffd1d1;
  border-radius: 7px;
  grid-column: 4/6;
  grid-row: 6/8;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-gift video {
  width: 132%;
}
@-webkit-keyframes entry {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes entry {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mr-sticker-lg {
  background: #aaeefe;
  border-radius: 7px;
  grid-column: 1/4;
  grid-row: 8/12;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: 10.5s;
  animation-duration: 10.5s;
}
.mr-sticker-lg img {
  margin-left: 50%;
  transform: translateX(-50%);
}
.mr-sticker-lg-scale {
  transform-origin: center;
  -webkit-animation: scale 0.3s ease-in-out forwards;
  animation: scale 0.3s ease-in-out forwards;
}
@-webkit-keyframes scale {
  0% {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.mr-sticker-lg-poof {
  padding-top: 141.38889%;
  border-radius: 7px;
  grid-column: 1/4;
  grid-row: 9/13;
  position: relative;
}
.mr-sticker-lg-poof img,
.mr-sticker-lg-poof picture {
  width: 130%;
}
#sticker-poof-anim {
  background-image: url(/assets/mr-makes/smoke-poof-spritesheet.png);
  background-repeat: no-repeat;
  background-size: 800%;
  -webkit-animation: anim 1s steps(8) infinite;
  animation: anim 1s steps(8) infinite;
  background-position: 0 0;
}
@-webkit-keyframes anim {
  to {
    background-position: 800% 0;
  }
}
@keyframes anim {
  to {
    background-position: 800% 0;
  }
}
.sticker-poof-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sticker-poof {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.mr-sticker-sm-1 {
  background: #fee090;
  border-radius: 7px;
  grid-column: 4/6;
  grid-row: 8/10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-sticker-sm-1 img {
  margin: auto;
}
.mr-sticker-sm-2 {
  background: #ffd1d1;
  border-radius: 7px;
  grid-column: 4/6;
  grid-row: 10/12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-sticker-sm-2 img {
  margin: auto;
}
.mr-milk-bag {
  background: #aef;
  border-radius: 7px;
  grid-column: 6/9;
  grid-row: 4/8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr-milk-bag img,
.mr-milk-bag video {
  width: 90%;
  margin: auto;
  display: block;
}
.mr-tiles-gif {
  border-radius: 7px;
  background: #5acbf4;
  grid-column: 6/9;
  grid-row: 8/11;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  display: flex;
  justify-content: center;
}
.mr-tiles-gif img,
.mr-tiles-gif picture {
  width: 95%;
}
.mr-powerups-1 {
  border-radius: 7px;
  background: #a0ebfe;
}
.mr-powerups-1,
.mr-powerups-2 {
  display: flex;
  overflow: unset;
}
.mr-powerups-1 {
  grid-column: 6/9;
  grid-row: 11/12;
  position: relative;
}
.mr-powerups-1 img,
.mr-powerups-1 picture {
  display: block;
  margin: auto;
  width: 83%;
}
.mr-powerups-1:after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.mr-powerups-1:after,
.mr-powerups-2 {
  background-color: #aaeefe;
  border-radius: 7px;
}
.mr-powerups-2 {
  grid-column: 9/13;
  grid-row: 8/9;
}
.mr-powerups-2 img,
.mr-powerups-2 picture {
  height: 112%;
  display: block;
  margin: -3% auto auto;
}
.mr-lemoon {
  grid-column: 9/13;
  grid-row: 9/12;
  overflow: unset;
  position: relative;
}
.mr-lemoon img,
.mr-lemoon picture {
  height: 100%;
  margin-left: 7%;
}
.mr-lemoon-bg {
  background-color: #fde496;
  border-radius: 7px;
  grid-column: 9/13;
  grid-row: 9/11;
}
.mr-milk {
  overflow: hidden;
  width: 100%;
}
#sploosh {
  padding-top: 37px;
  display: block;
  margin: auto auto auto -10%;
  overflow: hidden;
  width: 120%;
}
@media (max-width: 767px) {
  .mr-trailer {
    grid-column: 1/22;
    grid-row: 1/39;
    padding-top: unset;
    overflow: hidden;
  }
  .mr-trailer.aspect-ratio-box {
    overflow: unset;
    height: unset;
    position: unset;
  }
  .mr-trailer .aspect-ratio-box-inside {
    position: relative;
  }
  .mr-trailer video {
    width: 102%;
  }
  .mr-subtitle {
    grid-column: 1/23;
    grid-row: 5/7;
    height: 100%;
  }
  .mr-title {
    grid-column: 1/23;
    grid-row: 1/4;
    display: block;
  }
  .mr-description {
    grid-column: 1/23;
    grid-row: 1/44;
    height: 100%;
  }
  .mr-milk-bag {
    grid-column: 1/13;
    grid-row: 54/70;
  }
  .mr-tiles-gif {
    grid-column: 14/23;
    grid-row: 54/63;
  }
  .mr-powerups-1 {
    grid-column: 14/23;
    grid-row: 65/70;
    background-color: #aaeefe;
  }
  .mr-powerups-1 img,
  .mr-powerups-1 picture {
    width: 100%;
  }
  .mr-powerups-1:after {
    position: unset;
  }
  .mr-powerups-2 {
    grid-column: 1/23;
    grid-row: 111/116;
    display: unset;
  }
  .mr-powerups-2 img,
  .mr-powerups-2 picture {
    width: 90%;
    height: unset;
    display: block;
    margin: -5vw auto auto;
  }
  .mr-cards {
    grid-column: 1/13;
    grid-row: 72/89;
  }
  .mr-cards img,
  .mr-cards picture {
    margin-top: 0;
  }
  .mr-cereal {
    grid-column: 15/23;
    grid-row: 72/80;
  }
  .mr-gift {
    grid-column: 15/23;
    grid-row: 81/89;
  }
  .mr-sticker-lg,
  .mr-sticker-lg-poof {
    grid-column: 1/13;
    grid-row: 91/108;
  }
  .mr-sticker-sm-1 {
    grid-column: 15/23;
    grid-row: 91/99;
  }
  .mr-sticker-sm-2 {
    grid-column: 15/23;
    grid-row: 100/108;
  }
  .mr-lemoon {
    grid-column: 1/23;
    grid-row: 118/128;
  }
  .mr-lemoon img,
  .mr-lemoon picture {
    display: block;
    margin: auto;
    padding-left: 25px;
  }
  .mr-lemoon-bg {
    grid-column: 1/23;
    grid-row: 118/125;
  }
}
